---
apiVersion: v1
kind: Secret
metadata:
  name: {{ manila_secret_name }}
  namespace: {{ manila_namespace }}
stringData:
  os-authURL: "{{ openstack_auth_url }}"
{% if openstack_region is defined and openstack_region != "" %}
  os-region: "{{ openstack_region }}"
{% else %}
  os-region: "regionOne"
{% endif %}
{% if  openstack_user_id is defined and openstack_user_id != "" %}
  os-userID: "{{ openstack_user_id }}"
{% elif openstack_username is defined and openstack_username != "" %}
  os-userName: "{{ openstack_username }}"
{% endif %}
{% if secure_openstack_password is defined and secure_openstack_password %}
  os-password: "{{ openstack_user_password | b64decode }}"
{% else %}
  os-password: "{{ openstack_user_password }}"
{% endif %}
{% if openstack_project_id is defined and openstack_project_id != "" %}
  os-projectID: "{{ openstack_project_id }}"
{% elif openstack_project_name is defined and openstack_project_name != "" %}
  os-projectName: "{{ openstack_project_name }}"
{% endif %}
{% if  openstack_domain_id is defined and openstack_domain_id != "" %}
  os-domainName: "{{ openstack_domain_id }}"
{% elif openstack_domain_name is defined and openstack_domain_name != "" %}
  os-domainName: "{{ openstack_domain_name }}"
{% endif %}
{% if manila_TLSInsecure %}
  os-TLSInsecure: "true"
{% endif %}
{% if openstack_ca_cert is defined and openstack_ca_cert != "" %}
  os-certAuthorityPath: {{ manila_openstack_ca_cert_file_path }}
{% endif %}
