apiVersion: apiserver.config.k8s.io/v1
kind: EncryptionConfiguration
resources:
  - resources:
    - secrets
    providers:
{% if first_provider == 'identity' %}
    - identity: {}
{% endif %}
    - aescbc:
        keys:
{% for k in keylist %}
        - name: {{ k.name }}
          secret: {{ k.secret }}
{% endfor %}
{% if first_provider != 'identity' %}
    - identity: {}
{% endif %}
