[req]
req_extensions = etcd_v3_req
distinguished_name = req_distinguished_name

[req_distinguished_name]

# certificate extension configuration for creating CSRs
[ etcd_v3_req ]
basicConstraints = critical,CA:FALSE
keyUsage         = digitalSignature,keyEncipherment
subjectAltName   = ${ENV::SAN}

[ ca ]
default_ca = etcd_ca

# etcd CA configuration (used when signing CSRs)
[ etcd_ca ]
dir             = {{ etcd_ca_dir }}
crl_dir         = {{ etcd_ca_crl_dir }}
database        = {{ etcd_ca_db }}
new_certs_dir   = {{ etcd_ca_new_certs_dir }}
certificate     = {{ etcd_ca_cert }}
serial          = {{ etcd_ca_serial }}
private_key     = {{ etcd_ca_key }}
crl_number      = {{ etcd_ca_crl_number }}
x509_extensions = etcd_v3_ca_client
default_days    = {{ etcd_ca_default_days }}
default_md      = sha256
preserve        = no
name_opt        = ca_default
cert_opt        = ca_default
policy          = policy_loose
unique_subject  = no
copy_extensions = copy

[ policy_loose ]
countryName             = optional
stateOrProvinceName     = optional
localityName            = optional
organizationName        = optional
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

# certificate extension configuration for signing CSRs
[ etcd_v3_ca_self ]
authorityKeyIdentifier = keyid,issuer
basicConstraints       = critical,CA:TRUE,pathlen:0
keyUsage               = critical,digitalSignature,keyEncipherment,keyCertSign
subjectKeyIdentifier   = hash

[ etcd_v3_ca_peer ]
authorityKeyIdentifier = keyid,issuer:always
basicConstraints       = critical,CA:FALSE
extendedKeyUsage       = clientAuth,serverAuth
keyUsage               = digitalSignature,keyEncipherment
subjectKeyIdentifier   = hash

[ etcd_v3_ca_server ]
authorityKeyIdentifier = keyid,issuer:always
basicConstraints       = critical,CA:FALSE
extendedKeyUsage       = clientAuth,serverAuth
keyUsage               = digitalSignature,keyEncipherment
subjectKeyIdentifier   = hash

[ etcd_v3_ca_client ]
authorityKeyIdentifier = keyid,issuer:always
basicConstraints       = critical,CA:FALSE
extendedKeyUsage       = clientAuth
keyUsage               = digitalSignature,keyEncipherment
subjectKeyIdentifier   = hash
