apiVersion: kubeadm.k8s.io/v1beta3
caCertPath: {{ kubelet_ca_file }}
discovery:
  bootstrapToken:
    apiServerEndpoint: {{ kube_apiserver_fqdn }}:{{ kube_apiserver_port }}
    caCertHashes:
    - sha256:{{ kube_discovery_token_ca_cert_hash }}
    token: {{ kube_bootstrap_token }}
    unsafeSkipCAVerification: false
  timeout: 5m0s
  tlsBootstrapToken: {{ kube_bootstrap_token }}
kind: JoinConfiguration
{% if cloud_provider == "aws" %}
nodeRegistration:
  criSocket: "/var/run/dockershim.sock"
  name: {{ ansible_fqdn }}
  kubeletExtraArgs:
    cloud-provider: aws
{% endif %}
nodeRegistration:
  criSocket: {{ container_runtime_socket }}
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
rotateCertificates: {{ kubelet_certificate_rotation }}
serverTLSBootstrap: {{ kubelet_server_certificate_rotation }}
cgroupDriver: "{{ containerd_default_cgroup_driver }}"
imageGCHighThresholdPercent: 80
imageGCLowThresholdPercent: 75
{% if enable_seccomp_default == "true" %}
seccompDefault: true
{% endif %}
