---
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-webhook-snmp
  namespace: monitoring
data:
  prometheus-webhook-snmp.conf: |
    port: {{ webhook_listen_port }}
    snmp_host: {{ snmp_translator_host }}
    snmp_port: {{ snmp_translator_port }}
    {% if snmp_trap_receiver_host is string -%}
    receiver_hosts: ['{{ snmp_trap_receiver_host }}']
    {% else -%}
    receiver_hosts: {{ snmp_trap_receiver_host }}
    {% endif -%}
    receiver_port: {{ snmp_trap_receiver_port }}
    snmp_community: {{ snmp_trap_receiver_community }}
    snmp_retries: {{ snmp_trap_receiver_retries }}
    snmp_timeout: {{ snmp_trap_receiver_timeout }}
    {% if snmp_trap_source_identifier is defined -%}
    snmp_source_identifier: {{ snmp_trap_source_identifier }}
    {% endif -%}
    {% if snmp_trap_v3_user is defined -%}
    snmp_user: {{ snmp_trap_v3_user }}
    {% if snmp_trap_v3_engine is defined -%}
    snmp_Engine: {{ snmp_trap_v3_engine }}
    {% endif -%}
    {% if snmp_trap_v3_authkey is defined -%}
    snmp_authkey: {{ snmp_trap_v3_authkey }}
    {% endif -%}
    {% if snmp_trap_v3_privkey is defined -%}
    snmp_private_key: {{ snmp_trap_v3_privkey }}
    {% endif -%}
    {% if snmp_trap_v3_auth_protocol is defined -%}
    snmp_auth_protocol: {{ snmp_trap_v3_auth_protocol }}
    {% endif -%}
    {% if snmp_trap_v3_priv_protocol is defined -%}
    snmp_priv_protocol: {{ snmp_trap_v3_priv_protocol }}
    {% endif -%}
    {% endif -%}
    trap_oid_prefix: 1.3.6.1.4.1.193.183.4
    debug: {{ pws.debug }}
    heat_stack_name: {{ heat_stack_name_webhook }}
    host: "::"