---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ ecfe_secret_name }}
  namespace: {{ ecfe_configmap_name_space }}
stringData:
{% for item in ecfe_secrets -%}
{% for passkey, passphrase in item.items() %}
{{ ( (passkey| string) + ": " + (passphrase| string) ) | indent(4, true) }}
{% endfor -%}
{% endfor -%}

