---
apiVersion: v1
kind: ConfigMap
metadata:
  namespace: {{ ecfe_configmap_name_space }}
  name: {{ ecfe_configmap_name }}
data:
  config: |
    static-bfd-peers:
{% for peer in ecfe_config_map_peers -%}
{{ ("- peer-address: " + (peer.peer_address| string) ) | indent(4, true) }}
{{ ("  min-tx: " + (peer.min_tx | string) ) | indent(4, true) }}
{{ ("  min-rx: " + (peer.min_rx | string) ) | indent(4, true) }}
{{ ("  multiplier: " + (peer.multiplier | string) ) | indent(4, true) }}
{% endfor -%}
    {{ "address-pools:"  | indent(4, true) }}
    - name: default
      protocol: bgp
      addresses:
{% for cidr in ecfe_pool_cidrs -%}
{{ ("- " + cidr) | indent(6, true) }}
{% endfor %}
